@tailwind base;
@tailwind components;
@tailwind utilities;

/* =================== SECTION WRAPPER =================== */
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-top: 5rem;
  background-color: rgba(0, 0, 0, 0.8); /* bg-black/90 */
  color: whitesmoke;
  overflow: hidden;
}

/* =================== SECTION HEADER =================== */
.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* =================== SECTION BODY =================== */
.section-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  /* width: 100%; */ /* optional - jika ingin lebar penuh */
}

.left, .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
