@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --foreground: 240 10% 3.9%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

/* globals.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Supaya <img> juga tidak bisa “drag” */
img {
  pointer-events: none;
  -webkit-user-drag: none;
}

/* =================== Stars animation =================== */
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

.stars-container div {
  animation: twinkle 4s infinite;
  animation-delay: calc(var(--index, 0) * 0.5s);
}

.violet-gradient {
  background: #A3D8FF;
  background: linear-gradient(-90deg, #A3D8FF 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #A3D8FF 0%,
    rgba(60, 51, 80, 0) 100%
  );
}